<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">



                        @if (Session["user"] == null && Session["admin"] == null && Session["emp"] == null)
                        {
                            <a class="navbar navbar-brand" href="/Admin/Login">Login</a>
                            <a class="navbar navbar-brand" href="/Restaurant/resReg">Restaurent Reg</a>
                        }
                        @if (Session["user"] != null)
                        {
                            <a class="navbar navbar-brand" href="/">Home</a>
                            <a class="navbar navbar-brand" href="/CollectRequest/CreateRequest">Donate Food</a>
                            <a class="navbar navbar-brand" href="/CollectRequest/AllRequests">All Collect Request</a>
                            <a class="navbar navbar-brand" href="/Restaurant/Logout">Logout</a>

                        }
                        @if (Session["admin"] != null)
                        {
                            <a class="navbar navbar-brand" href="/CollectRequest/AllRequests">All Collect Request</a>
                            <a class="navbar navbar-brand" href="/Employee/EmpReg">Add Employee</a>
                            <a class="navbar navbar-brand" href="/Restaurant/ShowAceptedRequest">Accepted Request</a>
                            <a class="navbar navbar-brand" href="/Employee/ShowRequest">Assign Request</a>
                            <a class="navbar navbar-brand" href="/Employee/EmployeeList">Employee List</a>
                            <a class="navbar navbar-brand" href="/Restaurant/RestaurentList">Restaurent List</a>
                            <a class="navbar navbar-brand" href="/Restaurant/Logout">Logout</a>

                        }

                        @if (Session["emp"] != null)
                        {

                            <a class="navbar navbar-brand" href="/Employee/ShowRequest">Assign Request</a>
                            <a class="navbar navbar-brand" href="/Employee/ShowCompleteRequest">Completed Request</a>
                            <a class="navbar navbar-brand" href="/Restaurant/Logout">Logout</a>
                        }
                    </ul>
                </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
